[Desktop Entry]
Name=Qounter
Comment=Day counters
Exec=/usr/local/bin/Qounter
Icon=/usr/local/share/icons/hicolor/96x96/apps/Qountericon.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Productivity;Application;
